{% extends '::layout.html.twig' %}
{% set active = 'login' %}
{% block main %}
 
        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div class="row">
        	<div class="span3 pull-right well well-red">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            </div>
        </div>
        
{% endblock %}