{% extends 'RoleAdminBundle::layout.html.twig' %}
{% block panel %}
<h1>Local creation</h1>

<form action="{{ path('role_admin_local_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('role_admin_local') }}" class="btn">
            Vuelve a la lista
        </a>
    </li>
</ul>
{% endblock %}
