{% extends 'RoleAdminBundle::layout.html.twig' %}
{% block extra %}
{{ form_javascript(form) }}
{% endblock %}
{% block panel %}
<h1>Admin panel</h1> 

<form method="post" class="form well" {{ form_enctype(form) }}>
	{{form_widget(form) }}
	<input class="btn" type="submit" value="Enviar">
</form>
{% endblock %}